spring:
  application:
    name: E-Catalog

logging:
  level:
    net.barrage.school.java.ecatalog: DEBUG
    # is it possible to explain this logging in more details later, about how it works, and why is it here?

ecatalog:
  products:
    sources:
      - name: Uncle
        format: json
        url: https://www.dropbox.com/scl/fi/mhq4vmv42x1hy5k430ae3/products.json?rlkey=00w6n2cfjk8p5wwizz6c4tckr&dl=1
      - name: John
        format: xml
#        url: https://www.dropbox.com/scl/fi/wbbsxcx6mh58iood031qo/wines.xml?rlkey=x7dmdsnv0gjvalskxwstlxjlr&dl=1
        url: https://www.dropbox.com/scl/fi/cazd7v18qx9q1nwy7wivp/vina.xml?rlkey=axpm8tcfkwqd3cf8n2khxgiqz&dl=1
      - name: Bob
        format: excel
        url: https://www.dropbox.com/scl/fi/rxime4x4tvzxoqvts5g4d/vegetables.xlsx?rlkey=7mrjxnnuqrxygmmi79di5klgl&dl=1

